body {
    top: 0;
    left: 0;
    background-image: url("../images/bq.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

nav {
    position: fixed;
    width:fit-content;
    margin: 0 auto; left:10%; right:10%;
}

ul {
    position: relative;
    border-radius: 25px;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1aeae;
    left: 0;
}
li {
    float: right;
    width: 80px;
}

li a {
    display: block;
    color: #15151E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: #91add7;
    border-style: solid;
    border-color: #15151E;
    border-radius: 25px;
}

.icon {
    width: 30px;
    height: 30px;
}

.logo {
    max-height: 50px;
    float: left;
}

main {
    text-align: center;
    color: rgb(38, 43, 65);
}

div {
    width: 75%;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
}

.page, .page1 {
    background-color: #f1aeaebd;
    border-radius: 25px;
    overflow: hidden;
}

.page p, .page1 p, h3, h2, h1, footer {
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    background-color: #f1aeae;
    width: 50%;
    border-radius: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}

.villagers {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 250px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip {
    font-size: 14px;
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    text-decoration: none;
    color: #15151E;
    position: fixed;
    top: -40px;
    z-index: 2;
}

.skip > a:focus {
    position: inherit;
    top: 20px;
    left: 20px;
}

#logo {
    display: none;
}

h1 {
    padding-top: 100px;
}


#header-light, #header-dark {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#header-dark {
    display: none;
}

@media screen and (min-width: 768px) {
    nav {
        position: fixed;
        width: auto;
        margin: none;
    }

    #logo {
        display: unset;
    }

    li {
        width: 100px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: stretch;
        align-items: center;
    }

    .page1 {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    li {
        width: 120px;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .page1 {
        width: 30%;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url("../images/bgdark.png");
    }
    ul {
        background-color: #86a2cd;
    }
    .active {
        background-color: #f1aeae;
        border-color: #e8e8e8;
    }
    .page, .page1 {
        background-color: #7594c29d;
        border-radius: 25px;
        overflow: hidden;
    }
    footer {
        background-color: #86a2cd;
    }
    main {
        color: rgb(19, 21, 30);
    }
    #header-dark {
        display: block;
    }
    #header-light {
        display: none;
    }
}